<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
<servlet>
	<servlet-name>LoginServlet</servlet-name>
	<servlet-class>jspServlet.servlet.LoginServlet</servlet-class>
</servlet>

<welcome-file-list>
	<welcome-file>/Home.jsp</welcome-file>
</welcome-file-list>

<servlet-mapping>
	<servlet-name>LoginServlet</servlet-name>
	<url-pattern>/login</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ListProduct</servlet-name>
	<servlet-class>jspServlet.servlet.ListPrdServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>ListProduct</servlet-name>
	<url-pattern>/ListProduct</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ListProductByType</servlet-name>
	<servlet-class>jspServlet.servlet.Listbytype</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>ListProductByType</servlet-name>
	<url-pattern>/ListProductByType</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ListMyAccount</servlet-name>
	<servlet-class>jspServlet.servlet.ListMyAccount</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>ListMyAccount</servlet-name>
	<url-pattern>/ListMyAccount</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ListShoppingCart</servlet-name>
	<servlet-class>jspServlet.servlet.ListShoppingCart</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>ListShoppingCart</servlet-name>
	<url-pattern>/ListShoppingCart</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Register</servlet-name>
	<servlet-class>jspServlet.servlet.RegisterServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Register</servlet-name>
	<url-pattern>/Register</url-pattern>	
</servlet-mapping>

<servlet>
	<servlet-name>AddShoppingCart</servlet-name>
	<servlet-class>jspServlet.servlet.AddShoppingCart</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>AddShoppingCart</servlet-name>
	<url-pattern>/AddShoppingCart</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>LogOut</servlet-name>
	<servlet-class>jspServlet.servlet.LogOut</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>LogOut</servlet-name>
	<url-pattern>/LogOut</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ListOrder</servlet-name>
	<servlet-class>jspServlet.servlet.ListOrder</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>ListOrder</servlet-name>
	<url-pattern>/ListOrder</url-pattern>
</servlet-mapping>
</web-app>